@page "/users"
@attribute [Authorize(Roles = "SuperAdmin")]

@inherits BaseDataPage<ODataUser>
@inject UserODataService UserODataService
@inject UserService UserService

<div class="row">
    <div class="col-xl-3">
        <RadzenButton Icon="add" Click=@(async args => await DialogService.OpenAsync<UserAddPage>("Yeni Kullanıcı",
                          null,
                          new DialogOptions{Width = "800px"} )) />

            @*@if (SelectedItem != null)
            {
                <RadzenButton Icon="edit" Click=@(async args => await DialogService.OpenAsync<BlogUpdatePage>("Kullanıcı Düzenle",
                          new Dictionary<string, object> { { "UserId", SelectedItem.Id } },
                          new DialogOptions{Width = "1000px"})) />
                <RadzenButton Icon="remove" Click=@DeleteAsync />
            }*@

        <RadzenButton Icon="refresh" Click=@Refresh />
    </div>
</div>



<BaseDataGrid TItem="ODataUser"
              IsLoading="IsLoading"
              Data="Data"
              @bind-SelectedItem="@SelectedItem"
              LoadData="LoadData"
              Count="Count"
              Columns=@(new Dictionary<string, string>
              {
                  { "FirstName", "İsim" },
                  { "LastName", "Soy İsim" },
                  { "UserName", "Kulanıcı Adı" },
                  { "CreateDate", "Oluşturulma Tarihi" },
                  { "EditDate", "Son Güncellenme Tarihi" }
              }) />

@code {
    async Task LoadData(LoadDataArgs args)
    {
        IsLoading = true;
        LastArgs = args;

        var result = await UserODataService.GetListAsync(new ODataRequestParams
        {
            Count = true,
            Filter = args.Filter,
            OrderBy = args.OrderBy,
            Skip = args.Skip,
            Top = args.Top
        });

        Data = result.Value.AsODataEnumerable();
        Count = result.Count;

        StateHasChanged();
        IsLoading = false;
    }

    private async void DeleteAsync()
    {
        var isConfirm = await DialogService.Confirm("Kullanıcıyı silmek istediğinizden emin misiniz?", "Uyarı", new ConfirmOptions { OkButtonText = "Evet", CancelButtonText = "Hayır" });
        if (isConfirm != true)
            return;

        IsLoading = true;

        var result = await UserService.DeleteAsync(((ODataUser)SelectedItem).Id);
        if (!result.IsSuccessful)
            NotificationService.Error(result.ErrorMessage);
        else
        {
            NotificationService.Success("Kullanıcı silindi.");
            DialogService.Close(true);
            Refresh();
        }

        IsLoading = false;
    }

    protected async override void Close(dynamic result)
    {
        if (result is bool val && val == true)
        {
            await LoadData(LastArgs);
            StateHasChanged();
        }
    }

    protected async override void Refresh()
    {
        base.Refresh();
        await LoadData(LastArgs);
        StateHasChanged();
    }
}
