@page "/"
@attribute [Authorize]

<h3>Hoşgeldin @CurrentUser?.Name</h3>

@code {
    CurrentUser? CurrentUser;

    protected override async Task OnInitializedAsync()
    {
        CurrentUser = await CurrentUserService.GetCurrentUserAsync();
    }
}
