@inherits BaseDialog

@inject Meta.NotificationService MetaNotificationService

<AuthorizeArea Policy="@Policies.Notification">
    <Loading IsLoading="IsLoading">
        @if (NotificationDetailModel != null)
        {
            <div>
                @((MarkupString) NotificationDetailModel.Content)
            </div>
        }
    </Loading>
</AuthorizeArea>

@code {
    [Parameter] public NotificationModel Notification { get; set; }

    private GetNotificationDetailModel? NotificationDetailModel;

    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;

        var getNotificationResult = await MetaNotificationService.ReadAsync<GetNotificationDetailModel>(Notification.Id);

        if (getNotificationResult.Success)
            Notification.IsRead = true;

        NotificationDetailModel = getNotificationResult.Data;

        IsLoading = false;

        NotificationStorage.StateChanged();
    }

}
