@page "/login"
@layout AuthLayout

@inject AuthService AuthService
@inject AuthenticationStateProvider AuthenticationProvider

<PageTitle>GameStore Dashboard</PageTitle>

<RadzenCard Style="max-width: 400px; margin: 100px auto; padding: 30px;">
    <h3 class="mb-4">Giriş Yap</h3>

    <RadzenTemplateForm Data="@LoginModel" TItem="UserLoginModel" Submit="@HandleAsync">
        <div class="mb-3">
            <RadzenLabel Text="Kullanıcı Adı" Component="Username" />
            <RadzenTextBox @bind-Value="LoginModel.UserName" Name="Username" Style="width: 100%;" />
        </div>

        <div class="mb-3">
            <RadzenLabel Text="Şifre" Component="Password" />
            <RadzenPassword @bind-Value="LoginModel.Password" Name="Password" Style="width: 100%;" />
        </div>

        <RadzenButton ButtonType="ButtonType.Submit" Text="Giriş Yap" Style="width: 100%;"
                      Icon="login" Class="mt-3" />
    </RadzenTemplateForm>
</RadzenCard>

@code {
    UserLoginModel LoginModel = new();

    private async Task HandleAsync()
    {
        var result = await AuthService.LoginAsync(LoginModel);

        if (result.Data.Success != true)
        {
            NotificationService.Error(result.Data?.Message);
            return;
        }

        await LocalStorageService.SetItemAsStringAsync("AUTH_TOKEN", result.Data?.Data.Token);

        await AuthenticationProvider.GetAuthenticationStateAsync();

        NavigationManager.NavigateTo("/");
    }
}
