@layout MainLayout
@page "/accessdenied"

<div class="access-denied-container">
    <div class="icon">&#128274;</div>
    <h1>Erişim Reddedildi</h1>
    <p>Bu sayfaya erişim yetkiniz yok.</p>
    <a class="back-home" href="/">← Ana Sayfaya Dön</a>
</div>

@code {

}
