<div class="no-data-container">
    <div class="icon">&#128712;</div>
    <h2>@Title</h2>
    <p>@Message</p>
</div>

@code {
    [Parameter] public string Title { get; set; } = "Sonuç Bulunamadı";
    [Parameter] public string Message { get; set; } = "Gösterilecek birşey yok";
}
